/* Estilo do Header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    border-radius: 50%;
    height: 40px;
    margin-right: 15px;
}

header nav {
    flex-grow: 1;
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: yellow;
}

/* Reset de margens para evitar espaços indesejados */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo da fonte para toda a página */
body {
    font-family: Arial, sans-serif;
}

/* Estilo da seção principal */
main {
    padding: 20px;
    text-align: center;
    margin-top: 0; /* Remove a margem entre o header e o conteúdo */
}

main h1 {
    margin-bottom: 20px; /* Espaçamento entre o título e os cards */
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.habilidade-card {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
}

.habilidade-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.habilidade-card .descricao-breve {
    display: block;
}

.habilidade-card .descricao-completa {
    display: none;
}

.habilidade-card.expanded .descricao-breve {
    display: none;
}

.habilidade-card.expanded .descricao-completa {
    display: block;
}

/* Estilo do Card expandido */
.habilidade-card.expanded {
    transform: scale(1.2);
    z-index: 2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.overlay.active {
    display: block;
}

/* Estilos para o botão de alternância de modo */
.dark-mode-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-btn:hover {
    background-color: #555;
}

/* Estilos para o modo escuro */
.dark-mode {
    background-color: #333;
    color: #f5f5f5;
}

.dark-mode .sidebar {
    background-color: #444;
    border-right: 2px solid #666;
}

.dark-mode .main {
    background-color: #555;
}

.dark-mode .descricao-imagem {
    background-color: #666;
}

.dark-mode .link-item {
    background-color: #777;
}

.dark-mode .link-item:hover {
    background-color: #888;
}

/* Estilos para os cards no modo escuro */
.dark-mode .habilidade-card {
    background-color: #444; /* Cor de fundo dos cards */
    color: #ddd; /* Cor do texto dos cards */
}

.dark-mode .habilidade-card h2,
.dark-mode .habilidade-card .descricao-breve,
.dark-mode .habilidade-card .descricao-completa {
    color: #ddd; /* Mantém a cor do texto em cinza claro */
}
